<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Authentification</title>
<link   rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
th:href="@{css/bootstrap.min.css}"/>
<link   rel="stylesheet" type="text/css" href="../static/css/myStyle.css"
th:href="@{css/myStyle.css}"/>
</head>
<body>

<div class="container spacer-tg">
	<div class="panel panel-danger ">
		<div class="panel-heading bold"><center>OUUUUPS</center></div>
		<center><img th:src="@{css/404.jpg}"/></center>
	</div>
</div>
</body>
</html>