<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title> Remplir Demande</title>

 	<!-- mystyle css -->
    <link href="../css/myStyle.css" rel="stylesheet"/>
    
    <!-- Bootstrap Core CSS -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- MetisMenu CSS -->
    <link href="../bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

<link   rel="stylesheet" type="text/css" href="../static/css/myStyle.css" th:href="@{css/myStyle.css}"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
      <script language='javascript'>
    function verif(){
    	
    	if(document.djo.id_type.value==''){
    		alert('saisir un entier pour la periode');
    		document.djo.periode.style.borderColor="#F00000";
    		return false}
    	if(isNaN(document.djo.id_type.value)){
    		alert('saisir un entier pour la periode');
    		document.djo.periode.style.color="#F00000";
    		return false}
    	if(document.djo.periode.value==''){
    		alert('saisir un entier pour la periode');
    		document.djo.periode.style.borderColor="#F00000";
    		return false}
    	if(isNaN(document.djo.periode.value)){
    		alert('saisir un entier pour la periode');
    		document.djo.periode.style.color="#F00000";
    		return false}
    	if(document.djo.date_debut.value==''){
    		alert("date debut obligatoir");
    		document.djo.date_debut.style.borderColor="#F00000";
    		return false}
    	
    	if(document.djo.date_fin.value==''){
    		alert(" date fin est obligatoir ");
    		document.djo.date_fin.style.borderColor="#F00000";
    		return false}
    	
    	else 
    		return true;
    }
    </script>

</head>

<body>

    <div id="wrapper">

       <!-- Navigation -->
         <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                
                <label class="navbar-brand bold">Centre National de l'Informatique</label>
            </div>

             <ul class="nav navbar-top-links navbar-right">
             
              <!-- notification responsable direct -->
               <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    
                    <ul class="dropdown-menu dropdown-messages">
                       <li th:each="n:${notif}" >
                        <form th:action="demande_N1_rh" method="get" name="djo">
                            <button type="submit" class="btn btn-default btn-block">Demande N° <input type="hidden" name="ntf" th:text= "${n.id_validation}" th:value= "${n.id_validation}"/></button>
                        </form>
                        </li>
                        <li class="divider"></li>
                        
                    </ul>
                  
                </li>
        
               <!-- notification premier responsable -->
                <li class="dropdown">
               		  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    
                   
                    <ul class="dropdown-menu dropdown-tasks">
                        <li th:each="v:${valid}" >
                        <form th:action="demande_N2_rh" method="get" name="djo">
                        <button type="submit" value="supprimer" class="btn btn-default btn-block">Demande N°<input type="hidden" name="vld" th:text= "${v.id_validation}" th:value= "${v.id_validation}"/></button> 
                        </form>
                        </li>
                        <li class="divider"></li>
                       
                        
                    </ul>
         
                </li>
                
                
                <!-- demande confirmer -->
              <li class="dropdown">
               		  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-save fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    
                    
                    <ul class="dropdown-menu dropdown-tasks">
                        <li th:each="a:${arch}" >
                          <form th:action="demande_N3" method="get" name="djo">
                        <button type="submit" value="supprimer" class="btn btn-default btn-block">Demande N°<input type="hidden" name="vld" th:text= "${a.id_validation}" th:value= "${a.id_validation}"/></button> 
                        </form>
                        </li>
                        <li class="divider"></li>
                       
                       
                    </ul>
                </li>
                
                
           
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-users fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a th:href="@{/profil_ressource}"><i class="fa fa-user fa-fw"></i>Profil</a>
                        </li>
                        <li><a th:href="@{/mot_de_passe_ressource}"><i class="fa fa-gear fa-fw"></i> Configuration</a>
                        </li>
                        <li class="divider"></li>
                        <li><a th:href="@{/logout}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                  
                </li>
               
            </ul>
       

         
         
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                               
                            </div>
                           
                        </li>
                        <li>
                            <a th:href="@{/index_ressource_humaine}"><i class="fa fa-dashboard fa-fw"></i> acceuil</a>
                        </li>
                        <li>
                            <a ><i class="fa fa-file-text fa-fw"></i> Demande<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a th:href="@{/remplir_demande_rh}">Remplir demande</a>
                                </li>
                                <li>
                                    <a th:href="@{/etat_demande_rh}">Etat demande</a>
                                </li>
								<li>
                                    <a th:href="@{/reprise_demande_rh}">Reprise demande</a>
                                </li>
								 <li>
                            <a th:href="@{/list_demande_rh}"><i class="fa fa-table fa-fw"></i> List demande</a>
                        </li>
                            </ul>
                            
                        </li>
						 <li>
                            <a href="#"><i class="fa fa-user-md fa-fw"></i> Employer <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a th:href="@{/formulaire_ajouter_employer}">Ajouter employer</a>
                                </li>
                                <li>
                            <a th:href="@{/list_employer}"><i class="fa fa-table fa-fw"></i> List d'employer</a>
                        </li>
                               
                            </ul>
                            
                        </li>
						 <li>
                            <a href="#"><i class="fa fa-building fa-fw"></i> Departement <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a th:href="@{/formulaire_ajouter_departement}">Ajouter departement</a>
                                </li>
                                <li>
                            <a th:href="@{/list_departement}"><i class="fa fa-table fa-fw"></i> List departement</a>
                        </li>
                               
                            </ul>
                         
                        </li>
						 <li>
                            <a href="#"><i class="fa  fa-certificate fa-fw"></i> Type congee <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a th:href="@{/formulaire_ajouter_type_congee}">Ajouter type</a>
                                </li>
                               <li>
                            <a th:href="@{/list_type_congee}"><i class="fa fa-table fa-fw"></i> List type congee</a>
                        </li>
                       
                               
                            </ul>
                          
                        </li>
                        
					   
                      
						
						
                        
                       
                    </ul>
                </div>
           
            </div>
           
           
           
           
           
           
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h5 class="page-header">Centre National de l'Informatique <br/>  Département de la gestion</h5>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                           <center><h4><b>Demande de congee</b></h4></center> 
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12 spacer-lg ">
                             
                                    <form th:action="remplir_demande_r" method="get" name="djo" onsubmit="return verif()">
                                    
                                            
                                  
                                  <div class="row spacer-lm spacer-tm">
                                     <table class="col-lg-9 " th:each="e:${emp}">									  
											
											<tr > 
											<td class="bold">nom et prenom : </td>
											<td > <input class="form-control" type="hidden" name="nom_utilisateur" th:value="${e.nom}" th:text="${e.nom}" /></td>
											<td>    <input class="form-control" type="hidden" name="prenom" th:value="${e.prenom}" th:text="${e.prenom}"/></td>
											<td colspan="3"><input type="hidden" name="id_employer" th:value="${e.id_employer}" /> </td>
											</tr>
											
											 <tr>
											 <td class="bold"><br/>poste : </td>
											 <td th:each="dep:${dep}"><br/><input class="form-control" type="hidden" name="poste" th:value="${e.id_departement}" th:text="${dep.nom_departement}"/></td>
											 <td class="bold"> <br/> grade :</td>
											 <td> <br/><input class="form-control" type="hidden" name="grade" th:value="${e.grade}" th:text="${e.grade}"/></td>
											 <td colspan="2"></td>
											 </tr>
											<tr></tr>
											 <tr>
											 <td  colspan="6"><h3><center><br/><br/><b>Au Monsieur le directeur général</b></center></h3></td>
											 </tr>
											 <tr></tr>
											 <tr>
											 <td colspan="3" class="bold"><br/><br/>Je depose cette demande à votre majesté de l'intention de profitez d'un congée :</td>
											 <td>
											 	<br/><select class="form-control" th:name="id_type" >
			 									 <option>selectionner un type</option>
                                                <option th:each="t:${type}" th:text="${t.nom_type}" th:value="${t.id_type}"></option>                                                
                                            </select>
											 </td>
											 <td colspan="2"></td>
											 </tr>
											 
											 <tr>
											  <td class="bold"><br/> pour une periode </td><td><br/> <input class="form-control" type="text" name="periode" placeholder="periode"/></td>
											  <td class="bold"><br/>,   à la debut de :</td><td><br/> <input class="form-control"  type="date" th:name="date_debut" /></td>
											 </tr>
											 
											 <tr>
											 <td class="bold"><br/>telephone :</td>
											 <td><br/><input class="form-control" th:type="hidden" th:name="telephone" th:text="${e.telephone}" th:value="${e.telephone}" /></td>
											 <td class="bold"><br/>rediger le :</td>
											 <td><br/><input class="form-control" type="hidden" th:name="date_envoit"  th:text="${date}" th:value="${date}"/></td>
											 <td colspan="2"></td>
											 </tr>
											 <tr>
											 <td colspan="3"><br/><br/><center><button type="submit" class="btn  btn-success">Envoyer</button></center></td>
											 <td colspan="3"><br/><br/><center><button type="reset" class="btn btn-warning">Reset</button></center></td>
											 </tr>
											 
									 </table>
									 </div>									
									
									
									
									
									
									
									
						<!-- <div class="row">			
						<br />
						<br />
						<hr />
						<table class="col-lg-12 ">
						<tr>
						<td colspan="7"><center><h4><b>organisme responsable</b></h4></center></td></tr>
					<tr><td colspan="7"><center><h4><b>Responsable Directe</b></h4></center></td></tr>
					<tr>
	<td>Nom de responsable :</td><td> <input class="form-control" type="text" name="nom" placeholder="nom de responsable" id="disabledInput" disabled="disabled" />	</td></tr><br/>			
					<tr>
					<td>Avis:
					<br/><textarea  class="form-control" name="le-message" rows="6" cols="40" placeholder="Vous pouvez saisir ici votre avis." id="disabledInput" disabled="disabled"></textarea></td></tr>
					<td>Aide Adjoint pour la periode de congé :</td>
				<td>	<input class="form-control" type="text" name="nom1" placeholder="le aide adjoint" id="disabledInput" disabled="disabled"/></td>
		  <tr>
                   <td>La date :</td>
			<td> <input class="form-control" type="date" name="date" id="disabledInput" disabled="disabled"/></td></tr><br/><br/>
			 
			 <tr>
			<br /><br />								 <td><center><button type="submit" class="btn btn-default" disabled="disabled">Envoyer</button></center></td>
											 <td><center><button type="reset" class="btn btn-default" disabled="disabled" >Reset</button></center></td>
											 </tr> 
						</table>			 	
		</div> -->
		 
		
		
	
	                         
	                         
	                         
	                         
	                         
	    <!--                      
	       <div class="row">                  
	     <br />
						<br />
						<hr />
						<table class="col-lg-12 ">
						<tr>
						<td colspan="3"><center><h4><b>Organisme Responsable</b></h4></center></td></tr>
					<tr><td colspan="3"><center><h4><b> Premier Responsable</b></h4></center></td></tr>
					<tr>
	<td>Nom de responsable :</td><td> <input class="form-control" type="text" name="nom" placeholder="nom de responsable" id="disabledInput" disabled="disabled"/>	</td></tr><br/>			
					<tr>
					<td>Avis:
					<br/><textarea  class="form-control" name="le-message" rows="6" cols="40" placeholder="Vous pouvez saisir ici votre avis." id="disabledInput" disabled="disabled"></textarea></td></tr>
				
			  <tr>
                   <td>La date :</td>
			<td> <input class="form-control" type="date" name="date" id="disabledInput" disabled="disabled"/></td></tr><br/><br/>
			 	
		  <tr>
			<br/><br/>								 <td><center><button type="submit" class="btn btn-default" disabled="disabled" >Envoyer</button></center></td>
											 <td><center><button type="reset" class="btn btn-default" disabled="disabled">Reset</button></center></td>
											 </tr> 
						</table>	                    
	                    </div>   
	                        -->
	                       
	                       
	                       
	<!-- <div class="row">                       
  <br />
						<br />
						<hr />
						<table class="col-lg-12 ">
						<tr>
						<td colspan="3"><center><h4><b>Spécialement pour le Ressource humaine</b></h4></center></td></tr>
	<tr>
	<td>Nom de responsable :</td><td> <input class="form-control" type="text" name="nom" placeholder="nom de responsable" />	</td></tr>
	<tr>
	<td>Les détails de droits de l'employer poue le congé de l'années : </td></tr><br/>				
	<tr><td>l'années derniere :</td>
			<td> <input class="form-control" type="text" name="date" placeholder="inserer la date"/></td></tr>
	<tr><td>l'années actuel:</td>	
			<td><input class="form-control" type="text" name="date" placeholder="inserer la date"/></td></tr>
		<tr><td>total de solde:</td>	
		<td><input class="form-control" type="text" name="solde"/></td></tr>	
		<tr><td>Periode de congés souhaiter:</td>	
		<td><input class="form-control" type="text" name="periode"/></td></tr>			
	<tr><td>le reste de solde:</td>	
	<td><input class="form-control" type="text" name="reste"/></td>	</tr>	
			  <tr>
                   <td>La date :</td>
			<td> <input class="form-control" type="date" name="date"/></td></tr><br/><br/>
			 	
		  <tr>
			<br/><br/>								 <td><center><button type="submit" class="btn btn-default" >Envoyer</button></center></td>
											 <td><center><button type="reset" class="btn btn-default" >Reset</button></center></td>
											 </tr>		
						</table>	                                    
                         </div>             
                                        -->
                                        
                                   </form>
                                  
                                </div>
                               
						   <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
</div>
 




    <!-- jQuery -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>

</body>

</html>
