<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title> Reprise Demande </title>

    <!-- Bootstrap Core CSS -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- MetisMenu CSS -->
    <link href="../bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
     <script language='javascript'>
    function verif(){
    	
    	if(document.djo.date_retour.value==''){
    		alert("date retour est obligatoir");
    		document.djo.date_retour.style.borderColor="#F00000";
    		return false}
    	if(document.djo.date_envoit.value==''){
    		alert(" date fin est obligatoir ");
    		document.djo.date_envoit.style.borderColor="#F00000";
    		return false}
    	else 
    		return true;
    }
    
    </script>
    

</head>

<body>

    <div id="wrapper">

       <!-- Navigation -->
          <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
           <div class="navbar-header">
                
                <label class="navbar-brand">Centre National de l'Informatique</label>
            </div>

             <ul class="nav navbar-top-links navbar-right">
             
              <!-- notification responsable direct -->
               <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    
                    <ul class="dropdown-menu dropdown-messages">
                       <li th:each="n:${notif}" >
                        <form th:action="demande_N1_rh" method="get" name="djo">
                            <button type="submit" class="btn btn-default btn-block">Demande N° <input type="hidden" name="ntf" th:text= "${n.id_validation}" th:value= "${n.id_validation}"/></button>
                        </form>
                        </li>
                        <li class="divider"></li>
                        
                    </ul>
                  
                </li>
        
               <!-- notification premier responsable -->
                <li class="dropdown">
               		  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    
                   
                    <ul class="dropdown-menu dropdown-tasks">
                        <li th:each="v:${valid}" >
                        <form th:action="demande_N2_rh" method="get" name="djo">
                        <button type="submit" value="supprimer" class="btn btn-default btn-block">Demande N°<input type="hidden" name="vld" th:text= "${v.id_validation}" th:value= "${v.id_validation}"/></button> 
                        </form>
                        </li>
                        <li class="divider"></li>
                       
                        
                    </ul>
         
                </li>
                
                
                <!-- demande confirmer -->
              <li class="dropdown">
               		  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-save fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    
                    
                    <ul class="dropdown-menu dropdown-tasks">
                        <li th:each="a:${arch}" >
                          <form th:action="demande_N3" method="get" name="djo">
                        <button type="submit" value="supprimer" class="btn btn-default btn-block">Demande N°<input type="hidden" name="vld" th:text= "${a.id_validation}" th:value= "${a.id_validation}"/></button> 
                        </form>
                        </li>
                        <li class="divider"></li>
                       
                       
                    </ul>
                </li>
                
                
           
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-users fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a th:href="@{/profil_ressource}"><i class="fa fa-user fa-fw"></i>Profil</a>
                        </li>
                        <li><a th:href="@{/mot_de_passe_ressource}"><i class="fa fa-gear fa-fw"></i> Configuration</a>
                        </li>
                        <li class="divider"></li>
                        <li><a th:href="@{/logout}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                  
                </li>
               
            </ul>
          

         
         
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                
                            </div>
                           
                        </li>
                        <li>
                            <a th:href="@{/index_ressource_humaine}"><i class="fa fa-dashboard fa-fw"></i> acceuil</a>
                        </li>
                        <li>
                            <a ><i class="fa fa-file-text fa-fw"></i> Demande<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a th:href="@{/remplir_demande_rh}">Remplir demande</a>
                                </li>
                                <li>
                                    <a th:href="@{/etat_demande_rh}">Etat demande</a>
                                </li>
								<li>
                                    <a th:href="@{/reprise_demande_rh}">Reprise demande</a>
                                </li>
								 <li>
                            <a th:href="@{/list_demande_rh}"><i class="fa fa-table fa-fw"></i> List demande</a>
                        </li>
                            </ul>
                            
                        </li>
						 <li>
                            <a href="#"><i class="fa fa-user-md fa-fw"></i> Employer <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a th:href="@{/formulaire_ajouter_employer}">Ajouter employer</a>
                                </li>
                                <li>
                            <a th:href="@{/list_employer}"><i class="fa fa-table fa-fw"></i> List d'employer</a>
                        </li>
                               
                            </ul>
                            
                        </li>
						 <li>
                            <a href="#"><i class="fa fa-building fa-fw"></i> Departement <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a th:href="@{/formulaire_ajouter_departement}">Ajouter departement</a>
                                </li>
                                <li>
                            <a th:href="@{/list_departement}"><i class="fa fa-table fa-fw"></i> List departement</a>
                        </li>
                               
                            </ul>
                         
                        </li>
						 <li>
                            <a href="#"><i class="fa  fa-certificate fa-fw"></i> Type congee <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a th:href="@{/formulaire_ajouter_type_congee}">Ajouter type</a>
                                </li>
                               <li>
                            <a th:href="@{/list_type_congee}"><i class="fa fa-table fa-fw"></i> List type congee</a>
                        </li>
                       
                               
                            </ul>
                          
                        </li>
                        
					   
                      
						
						
                        
                       
                    </ul>
                </div>
           
            </div>
           
           
           
           
           
           
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Reprise d'une demande</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12 spacer-tm">
                
                <div class="panel-heading" >
                         	<h4 class="bold"><input type="hidden" th:text="${chaine}" /> </h4>
                        </div>
                    <div class="panel panel-warning" th:each="d:${dem}">
                        <div class="panel-heading">
                            Remplir tous les champs du formulaire
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <form th:action="reprise_rh" method="get" name="djo" th:each="e:${emp}">
                     <table >
                     <tr> 
                     	<td colspan="4"><h4><center>Au Monsieur le directeur général</center></h4></td>
                     </tr>
					
					 <tr>
						 <td >Je sousignée : <input class="form-control" type="hidden" th:text="${e.nom}" placeholder="nom_utilisateur"/></td>
						 <td colspan="3"> <input class="form-control" type="hidden" name="id_employer" th:value="${e.id_employer}" /></td>
					 </tr>
					                  
					 <tr>
					 	<td colspan="3" >je déclare que je repris mon travaille au sein de la société Centre National de l'Informatique au  :</td> 
						<td><input class="form-control"  type="date" name="date_retour" /></td>
					</tr>
					
					<tr>
						<td > a l'heure:</td>
						<td><input class="form-control" type="time"/></td>
						<td colspan="2"></td>
					</tr>
	
					<tr th:each="t:${type}">
						<td > lors de la fin de congés:</td>	
						<td> <input type="hidden" th:text="${t.nom_type}" /> </td>
						<td colspan="2"></td>
					</tr>	
				
					<tr>
						<td > qui l'a été donnée au debut:</td>
						<td><input class="form-control"  type="hidden" th:text="${d.date_debut}" /></td>
						<td colspan="2"> <input type="hidden" name="id_demande" th:value="${d.id_demande}"/>s</td>
					</tr>
	
					<tr>	 
						<td>et se termine le :</td>
						<td><input class="form-control" type="hidden" th:text="${d.date_fin}" /></td>
						<td colspan="2"></td>
					</tr>
			
			
			<br/><br/><br/> 
					<tr> 
						<td colspan="4"><center>La date exacte de reprise de travail:</center></td>
						<td><input class="form-control" name="date_envoit" th:text="${date}"/></td>
						<td colspan="2"></td>
			 		</tr>	
			 
					<tr>
						<td colspan="3"><button type="submit" class="btn btn-default">Envoyer</button></td>
						<td><button type="reset" class="btn btn-default">Reset</button></td>
						<td colspan="2"></td>
					</tr>
         
                            </table>            
                                    </form>
                                  
                                </div>
                               
						   <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>

</body>

</html>
